@import "../../../node_modules/materialize-css/dist/css/materialize.min.css";

.collection{
    letter-spacing: 1px;
    border:0px;
}
.collection-header{
    letter-spacing: 2px;
    color: #222;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 15px;
    text-decoration-line: underline;
}
.collection-item{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px!important;
    border-radius: 10px;
}

table{
    background-color: #ffebee;
    /*width: auto;*/
    padding: 20px 30px;
    margin: 30px;
}
/**/
/*.collection-item img{*/
/*    size: auto;*/
/*}*/
/*p{*/
/*    font-style: italic;*/
/*}*/
.collection-theme{
    font-style: italic;
}
a{
    color: #4e342e;
    position: center;
}




p.par{
    font-style: italic;
}

p.edit{
    float: right;
}
/*input,textarea,select,button{*/
/*    color:inherit;*/
/*}*/

/*.material-icons{*/
/*    color: black;*/
/*}*/